
body{
  font-family: fantasy;
  background: #808080;
  color: white;
  text-align: center;

  border: 40px solid black;
  border-top: 0px;
  margin: 0px;
  border-bottom: 0px;

}

span{
  background: purple;
}

p{
    padding-top: 2%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 3%;

}

form{
  font-size: 1.5em;
  padding-bottom: 10%;
}

#sub{
  background-color: grey;
  margin: 10px;
  height: 30px;
  width:200px;
  border-radius: 25px;
}
